<div id="map-canvas" ng-controller='mapsCtrl'>

  <ui-gmap-google-map center='map.location.coords'
                      zoom='map.zoom'
                      options = 'options'
                      dragging='map.dragging'
                      refresh='map.refresh'
                      pan='true' >


    <ui-gmap-circle center='map.circle.center'
                    radius='map.circle.radius'
                    stroke='map.circle.stroke'
                    fill='map.circle.fill'
                    clickable='map.circle.clickable'
                    draggable='map.circle.draggable'
                    editable='map.circle.editable'
                    visible='map.circle.visible'
                    events='map.circle.events'>
    </ui-gmap-circle>

    <ui-gmap-marker
        idKey='{expression}'
        coords='{expression}'
        click='{expression}'
        options='{expression}'
        events='{expression}'
        control='{expression}'>
    </ui-gmap-marker>

  </ui-gmap-google-map>

</div>