<div id="map-canvas" ng-controller='mapsCtrl'>

  <ui-gmap-google-map center='map.location.coords'
                      zoom='map.zoom'
                      options = 'options'
                      dragging='map.dragging'
                      refresh='map.refresh'
                      pan='true' >
  </ui-gmap-google-map>

</div>