<div id="map-canvas" ng-controller='mapsCtrl'>

  <ui-gmap-google-map center='map.location.coords'
                      zoom='map.zoom'
                      options = 'options'
                      dragging='map.dragging'
                      refresh='map.refresh'
                      pan='true' >


    <ui-gmap-circle center='map.circle.center'
                    radius='map.circle.radius'
                    stroke='map.circle.stroke'
                    fill='map.circle.fill'
                    clickable='map.circle.clickable'
                    draggable='map.circle.draggable'
                    editable='map.circle.editable'
                    visible='map.circle.visible'
                    events='map.circle.events'>
    </ui-gmap-circle>

    <ui-gmap-marker idKey='map.myLocationMarker.id'
                    coords='map.myLocationMarker.coords'>
    </ui-gmap-marker>

    <ui-gmap-markers  models="map.truckMarkers.content"
                      coords="'self'"
                      icon="'icon'"
                      click="onMarkerClicked"
                      options="'options'"
                      events="map.truckMarkerEvents">
        <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
            <div>
                <b>Yummy food</b>

                <p>Address goes here</p>

                <p class="text-muted">My marker will stay open when the window is popped up!</p>
            </div>
        </ui-gmap-windows>
    </ui-gmap-markers>

  </ui-gmap-google-map>

</div>