<div id="map-canvas" ng-controller='mapsCtrl'>

  <div id="flash" flash-message="8000" ></div>

  <ui-gmap-google-map center='map.location.coords'
                      zoom='map.zoom'
                      options = 'map.options'
                      dragging='map.dragging'
                      refresh='map.refresh'
                      pan='map.pan'
                      events = 'map.events'
                      control = 'map.control' >


    <ui-gmap-search-box template="searchbox.template"
                        events="searchbox.events">
    </ui-gmap-search-box>


    <ui-gmap-circle center='map.circle.center'
                    radius='map.circle.radius'
                    stroke='map.circle.stroke'
                    fill='map.circle.fill'
                    clickable='map.circle.clickable'
                    draggable='map.circle.draggable'
                    editable='map.circle.editable'
                    visible='map.circle.visible'
                    events='map.circle.events'>
    </ui-gmap-circle>

    <ui-gmap-marker idKey='map.myLocationMarker.id'
                    coords='map.myLocationMarker.coords'>
    </ui-gmap-marker>

    <ui-gmap-markers  models="map.truckMarkers.content"
                      coords="'self'"
                      icon="'icon'"
                      click="onMarkerClicked()"
                      doCluster="map.clusterMarkers"
                      clusterOptions="map.clusterOptions"
                      modelsbyref="true"
                      options="'options'"
                      events="map.truckMarkerEvents">


        <ui-gmap-windows  show="'showWindow'"
                          closeClick="'closeClick'" ng-cloak>
            <div>
              <h5 ng-non-bindable> {{ applicant }}</h5>

              <p ng-non-bindable class="text-muted"> {{ dayshours }}</p>

              <p ng-non-bindable>{{ fooditems | limitTo : 60 }}...</p>
            </div>
        </ui-gmap-windows>
    </ui-gmap-markers>

  </ui-gmap-google-map>

</div>