// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #map-canvas, .angular-google-map, .angular-google-map-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#search-box {
  margin-top: 10px;
  width: 300px;
}