<!DOCTYPE html>
<html>
<head>
  <title>FindingFoodTrucks</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%# javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false' %>

</head>
<body ng-app='ft'>

<%= yield %>

</body>
</html>
